<!--
Copyright (c) 2019 Andrew Vardeman.  Published under the MIT license.
See license.txt in the ConfectionCountry distribution or repository for the
full text of the license.
-->
@{ 
    double percentComplete = ((double)Batch.CompletedGames.Count) / Batch.NumberOfGames * 100;
}
<div class="topRowContainer">
    <div class="topRow formGroup">
        <div class="topRowItem singleLine">
            @if (Batch.Complete || Paused)
            {
                <button type="button" class="btn btn-primary" @onclick="@NewGame">@(Batch.Complete ? "New Game" : "Cancel")</button>
            }
            else
            {
                <input type="text" size="6" value="@Batch.NumberOfGames" @oninput="@((e) => HandleInput(e))"
                       class="form-control" required="required" /><text> X</text>
            }
            <label for="visualizeCheckbox">
                <input type="checkbox" id="visualizeCheckbox" @bind="@Visualize" /> Visualize
            </label>
        </div>
        <div class="topRowItem">
            @if (Batch.CurrentGame == null || (Paused && !Batch.Complete))
            {
                <button type="button" class="btn btn-primary" @onclick="@RunBatchAsync"
                        disabled="@(Batch.NumberOfGames == 0)">@(Batch.CurrentGame == null ? "Run Batch" : "Resume")</button>
            }
            else if (!Batch.Complete)
            {
                <button type="button" class="btn btn-primary" @onclick="@Pause">Pause</button>
            }
            else if (Visualize)
            {
                if (ShowingStats)
                {
                    <button type="button" class="btn btn-primary" @onclick="@(() => ShowingStats = false)">Board</button>
                }
                else
                {
                    <button type="button" class="btn btn-primary" @onclick="@(() => ShowingStats = true)">Stats</button>
                }
            }
        </div>
    </div>
</div>
<DefaultWidthBlock OuterClass="topMargin">
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: @(percentComplete)%" aria-valuenow="@(percentComplete)" aria-valuemin="0" aria-valuemax="100">
            @(Math.Round(percentComplete))% (# Completed: @(Batch.CompletedGames.Count))
        </div>
    </div>
</DefaultWidthBlock>
    @if (Visualize && Batch.CurrentGame != null && !ShowingStats)
    {
        <GameUI Game="@Batch.CurrentGame" Class="topMargin" ReadOnly="@true" />
    }
    else if (Batch.Complete && (!Visualize || ShowingStats))
    {
        <DefaultWidthBlock>
            <BatchStats Batch="@Batch" />
        </DefaultWidthBlock>
    }
    @if (Batch.Complete)
    {
        <DefaultWidthBlock>
            <div class="topMargin">
                A strange game.  The only winning move is not to play.
            </div>
        </DefaultWidthBlock>
    }

    @code {

    [Parameter] public Batch Batch { get; set; }

    [Parameter] public EventCallback OnReset { get; set; }

    public bool Visualize { get; set; } = true;

    public bool Paused { get; set; } = false;

    public bool ShowingStats { get; set; } = false;

    public void Pause()
    {
        Paused = true;
    }

    public void HandleInput(UIChangeEventArgs e)
    {
        int.TryParse((string)e.Value, out int number);
        Batch.NumberOfGames = number;
        StateHasChanged();
    }

    public async void RunBatchAsync()
    {
        Paused = false;
        DateTime startTime = DateTime.Now;
        while (!Paused && Batch.CompletedGames.Count < Batch.NumberOfGames)
        {
            Batch.Next();
            Console.WriteLine($"In RunBatchAsync with Winner.Name = {Batch.CurrentGame?.Winner?.Name}");
            StateHasChanged();
            if (Visualize)
            {
                await Task.Delay(100);
            }
            else if(DateTime.Now - startTime > TimeSpan.FromSeconds(0.1))
            {
                await Task.Delay(1);
            }
        }
    }

    public void NewGame()
    {
        OnReset.InvokeAsync(null);
    }

    }
