@using System
<!--
Copyright (c) 2019 Andrew Vardeman.  Published under the MIT license.
See license.txt in the ConfectionCountry distribution or repository for the
full text of the license.
-->
@{
    Player nextPlayer;
    if (_animating)
    {
        nextPlayer = Game.CurrentTurn.Player;
    }
    else
    {
        nextPlayer = Game.NextNonSkippedPlayer;
    }
    SpaceType[] spaces = Game.Spaces;
    SpecialSpace space;
    Pass pass;
}

<div class="gameUI @(Class ?? "")">
    <div class="topRowContainer">
        <div class="topRow">
            @if (_animating || !Game.GameOver)
            {
                <div class="topRowItem"><strong class="@(Util.GetBootstrapClasses(nextPlayer.Color))">@(nextPlayer.Name)'s Turn</strong></div>
            }
            else
            {
                <div class="topRowItem"><strong class="@(Util.GetBootstrapClasses(Game.Winner.Color))">@(Game.Winner.Name) Wins!</strong></div>
            }
            <div class="topRowItem">
                <label for="autoPlayCheckbox" style="visibility: @(ReadOnly ? "hidden" : "")">
                    <strong><input type="checkbox" id="autoPlayCheckbox" @bind="@AutoPlay" /> AutoPlay</strong>
                </label>
            </div>
        </div>
    </div>
    <div class="boardContainerContainerContainer">
        <div class="boardContainerContainer">
            <div class="boardContainer">
                <div class="board">
                    @for (int i = 11; i >= 0; i--)
                    {
                        bool odd = ((i + 1) % 2 > 0); // treat 0th row as row 1 for this purpose
                        for (int j = 0; j < 12; j++)
                        {
                            int index = 12 * i + (odd ? j : 12 - 1 - j);
                            string colorClass = index <= 133 ? Util.GetColorClass(spaces[index]) : "";
                            <div id="space@(index)" class="space @(colorClass)">
                                @for (int p = 0; p < Game.Players.Count; p++)
                                {
                                    Player player = Game.Players[p];
                                    int position = Game.PlayerPositions[p];
                                    if (Game.CurrentTurn != null && _animating && player == Game.CurrentTurn.Player)
                                    {
                                        position = _animatedPosition;
                                    }
                                    if (position == index)
                                    {
                                        <div class="player player@(p + 1) @(Util.GetBootstrapClasses(player.Color))"></div>
                                    }
                                }
                                @if (Game.IsSpecialSpace(index, out space))
                                {
                                    @(Util.GetNameAbbreviation(space))
                                }
                                @if (Game.IsLicorice(index))
                                {
                                    <text>X</text>
                                }
                                @if (Game.HasPass(index, out pass))
                                {
                                    @(odd ? ">>" : "&lt;&lt;")
                                }
                                @if (index <= 133 && ((!odd && j == 0) || (odd && j == 11)))
                                {
                                    <text>^</text>
                                }
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    @if (!ReadOnly)
    {
        <div class="bottomRow">
            @if (Game.GameOver)
            {
                <CardPile OnClick="@Reset" ButtonId="deck"><div id="drawButtonText">New Game</div></CardPile>
            }
            else if (AutoPlay)
            {
                if (Paused)
                {
                    <CardPile OnClick="@AutoPlayAsync" ButtonId="deck"><div id="drawButtonText">Play</div></CardPile>
                }
                else
                {
                    <CardPile OnClick="@Pause" ButtonId="deck"><div id="drawButtonText">Pause</div></CardPile>
                }
            }
            else
            {
                <CardPile OnClick="@NextAsync" ButtonId="deck"><div id="drawButtonText">Draw Card</div></CardPile>
            }

            <CardPile ButtonId="discardPile">
                @if (Game.CurrentTurn != null && !Game.CurrentTurn.Missed)
                {
                    Card card = Game.CurrentTurn.Card;
                    <CardSquare Type="@card.Type" IsDouble="@card.IsDouble">
                        @if (!Util.IsColor(card.Type))
                        {
                            @Util.GetNameWithSpaces(card.Type);
                        }
                    </CardSquare>
                    if (card.IsDouble)
                    {
                        <CardSquare Type="@card.Type" IsDouble="@card.IsDouble" />
                    }
                }
            </CardPile>
        </div>
    }
    </div>

@code {

    [Parameter] Game Game { get; set; }

    [Parameter] bool ReadOnly { get; set; }

    [Parameter] EventCallback OnReset { get; set; }

    [Parameter] string Class { get; set; }

    bool AutoPlay { get; set; }

    bool Paused { get; set; } = true;

    private bool _animating;

    private int _animatedPosition = -1;

    public async void NextAsync()
    {
        if (Game.GameOver)
        {
            return;
        }
        Game.Next();
        await AnimateTurnAsync();
    }

    public async void AutoPlayAsync()
    {
        Paused = false;
        while (AutoPlay && !Paused && !Game.GameOver)
        {
            _animating = true;
            Game.Next();
            await AnimateTurnAsync();
        }
    }

    public async Task AnimateTurnAsync()
    {
        _animating = true;
        Turn turn = Game.CurrentTurn;
        _animatedPosition = turn.StartPosition;
        await Task.Delay(500);
        foreach (Move move in turn.Moves)
        {
            await AnimateMoveAsync(move);
        }
        _animating = false;
        _animatedPosition = -1;
        StateHasChanged();
    }

    public async Task AnimateMoveAsync(Move move)
    {
        if (move.Fly)
        {
            await AnimateFlyAsync(move);
        }
        else
        {
            for (; _animatedPosition <= move.Position; _animatedPosition++)
            {
                StateHasChanged();
                await Task.Delay(100);
            }
        }
    }

    public async Task AnimateFlyAsync(Move move)
    {
        await Task.Delay(1000);
        _animatedPosition = move.Position;
        StateHasChanged();
        await Task.Delay(100);
    }

    public void Pause()
    {
        if (AutoPlay)
        {
            Paused = true;
        }
    }

    public void Reset()
    {
        OnReset.InvokeAsync(null);
    }

    }
